.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.inputcell {
  flex: 1 1 auto;
  width: 300px;
}

.outputcell {
  flex: 1 1 auto;
  width: 300px;
}
